        h1{
            text-align:center;
        }
        table {
            margin:0 auto;
            border: 1px solid black;
            
        } 
     
       tr, td, th {
           border: 1px solid black;
           background-color:#336600;
           color:white;
       }
       
       .display{
           background-image:url("../img/shoppingCart.jpg");
       }
       
       .store{
           background-image:url("../img/balls.jpg");
       }